body {
  background: #fff;
  color: #1a1a1a;
}
a {
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
a.button {
  text-decoration: none;
}
.navbar {
  border: none !important;
}
li.nav-item {
  margin: 0 15px;
}
.nav-link {
  color: #000;
  font-weight: 500;
  font-size: 18px;
}
.logo {
  height: 30px;
  margin-top: 1px;
}
.firstpanel {
  margin-top: 150px;
}
.m-t-100 {
  margin-top: 100px;
}
.nav-link:hover,
.accent.active,
.accent:hover {
  color: #c40b0b !important;
}
.accent-bg {
  background-color: #c40b0b;
  color: white !important;
  border: none;
}
.accent-bg:hover {
  background-color: #c40b0b;
}
section.section-padding:nth-child(odd) {
  background: #f8f8fb;
}
.sectiontitle {
  border-left: 5px solid #c40b0b;
  padding-left: 5px;
}

/* section.section-padding:nth-child(odd) .sectiontitle,
section.section-padding:nth-child(odd) p {
  color: #fff;
} */
.navbar-toggler {
  color: white;
}
/* .card {
  background: #1a1a1a;
} */
.card img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  max-height: 165px;
  border-radius: 5px;
}
.card .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card:hover img {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.card .text {
  background-color: #c40b0b;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.center {
  text-align: center;
  margin: auto;
  width: 240px;
}
#main-anim {
  width: 600px;
}

/*----animation----*/
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
.fade-in-element {
  animation: fade-in 1.2s;
}
.hidden {
  opacity: 0;
}

@media (max-width: 768px) {
  .navbar-nav .nav-link {
    padding: 15px;
    margin: 0;
  }

  .navbar .container {
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .firstpanel {
    margin-top: -30px;
  }
}
