@import "tailwindcss"; 

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    html {
        @apply transition-colors duration-300;
        scroll-behavior: smooth;
    }
    body {
        @apply bg-white dark:bg-[#000] text-gray-900 dark:text-gray-100;
    }
}
body{
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

.accent-font {
    font-family: "Slabo 13px", serif;
    font-weight: 400;
    font-style: normal;
}
